//-这是header 页面头标题部分，单独一个文件，方便复用
.container
	.row
		.page-header
			h1 #{title}
			small 这是副标题
.navbar.navbar-default.navbar-fixed-bottom
	.container
		.navbar-header
			a.navbar-brand(href="/") 重度科幻迷
		p.navbar-text.navbar-right
			a.navbar-link(href="#",data-toggle="modal", data-target="#signupModal") 注册
			span &nbsp;|&nbsp;
			a.navbar-link(href="#",data-toggle="modal", data-target="#signinModal") 登录
#signupModal.modal.fade
	.modal-dialog
		.modal-content
			form(method="POST", action="/user/signup")
				.modal-header 登录
				.modal-body
					.form-group
						label(for="signupName") 用户名
						input#signupName.form-control(name="user[name]", type="text")
					.form-group
						label(for="signupPassword")
#signupModal.modal.fade(role="dialog" aria-labelledby="注册" tabindex="-1")
  .modal-dialog.sign-form
    .modal-content
      form#signupForm(method="POST" action="/user/signup")
        .modal-header 注册
        .modal-body.clearfix
          .form-group.clearfix
            label(for="signupName") 用户名
            input#signupName.form-control(name="name" type="text" placeholder="账号")
          .form-group.clearfix
            label(for="signupPassword") 密码
            input#signupPassword.form-control(name="password" type="password" placeholder="密码")
        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") 关闭
          button.btn.btn-success(type="submit") 注册
#signinModal.modal.fade(role="dialog" aria-labelledby="登录" tabindex="-1")
  .modal-dialog.sign-form
    .modal-content
      form#signinForm(method="POST" action="/user/signin")
        .modal-header 登录
        .modal-body.clearfix
          .form-group.clearfix
            label(for="signinName") 用户名
            input#signinName.form-control(name="name" type="text" placeholder="账号")
          .form-group.clearfix
            label(for="signinPassword") 密码
            input#signinPassword.form-control(name="password" type="password" placeholder="密码")
        .modal-footer
          button.btn.btn-default(type="button" data-dismiss="modal") 关闭
          button.btn.btn-success(type="submit") 登录